*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#body{
    width: 100vh;
    height: 100vh;
    background-color: black;
}

.imagem{
    width: 250px;
    height: 350px;
    margin:10px;
    border: 10px solid rgb(255, 255, 255)
}

.todosfilmes{
    display:flex;
    flex-direction: column;
    width: 100vh;
}

#filmesexterna{
    display:flex;
}

.foto{
    width: 200px;
    height: 300px;
    margin:10px;
    border: 5px solid rgb(255, 255, 255);
}

#myModal{
    background-color: rgba(0, 0, 0, 0.5)
}

#modalContent{
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
    text-transform: uppercase;
    font-weight: bold;

}

.modal-body{
    display:flex;
    align-items: center;
    flex-direction:column;
    font-size: 15px;
}