body{
    background-image: url(../img/bg1.jpg);
    
}
.navbar.navbar-expand-lg.navbar-light.bg-light{
    padding: 0%;
}
.container-fluid{
    background-color: rgb(49, 49, 49);
    height: 90px;
    line-height: 0;
}

.navbar-nav.me-auto.mb-2.mb-lg-0 li a{
    color: rgb(230, 230, 230);
    font-family: monospace;
    font-size: 19px;
    margin-left: 60px;       
    
}
.navbar-nav.me-auto.mb-2.mb-lg-0 li a:hover{
    color: rgb(255, 255, 255);
}
.form-control.me-2{
    font-family: monospace;
    
}
.btn.btn-outline-success{
    background-color: rgba(32, 32, 32, 0.459);

    border: none;
    color: rgb(148, 148, 148);
    
}
.btn.btn-outline-success:hover{
    color: whitesmoke;
    background-color: #23b5b5;
}
.titulo{
    text-align: center;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.658);
    width: 400px;
    margin: 60px auto;
    border-radius: 10px;
}
form{
    width: 600px;
    text-align: center;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.726);
    margin: 0 auto;
    border-radius: 10px;
}
p{
    font-size: 22px;
}
label{
    font-size: 20px;
}
.botao{
    text-align: center;
    margin: 40px auto;   
}
button{
    background-color: rgb(51, 133, 209);
    border: none;
    border-radius: 20px;
    color: whitesmoke;
}
.container-texto p{
    padding: 2% 0 0 0;
    font-size: 18px;
}

.rodape{
    width: 100%;
    margin-top: 160px;
    height: 80px;
    background-color: rgb(49, 49, 49);
    color: black;
    text-align: center;
    font-family: monospace;
    text-transform: uppercase;

}

@media screen and (max-width : 994px){
    .navbar-nav.me-auto.mb-2.mb-lg-0 li a{
        color: rgb(230, 230, 230);
        font-family: monospace;
        font-size: 19px;
        background-color: rgb(49, 49, 49);
        height: 30px;
        line-height: 8px; 
        text-align: center;
        
    }
    .form-control.me-2{
        display: none;
    }
    .btn.btn-outline-success{
        display: none;
    }
    
}
@media screen and (max-width: 620px){

    .titulo{
        width: 60%;
    }
    form{
        width: 80%;
        padding-bottom: 5%;
    }
}

