body{
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
}
.containerglobal{
    padding-bottom: 10rem;
}
.navbar.navbar-expand-lg.navbar-light.bg-light{
    padding: 0%;
}
.container-fluid{
    background-color: rgb(49, 49, 49);
    height: 90px;
    line-height: 0;
}

.navbar-nav.me-auto.mb-2.mb-lg-0 li a{
    color: rgb(230, 230, 230);
    font-family: monospace;
    font-size: 19px;
    margin-left: 60px;       
    
}
.navbar-nav.me-auto.mb-2.mb-lg-0 li a:hover{
    color: rgb(255, 255, 255);
}
.form-control.me-2{
    font-family: monospace;
    
}
.btn.btn-outline-success{
    background-color: rgba(32, 32, 32, 0.459);

    border: none;
    color: rgb(148, 148, 148);
    
}
.btn.btn-outline-success:hover{
    color: whitesmoke;
    background-color: #23b5b5;
}
.titulo{
    width: 100%;
    text-align: center;
    margin-top: 100px;
    color: whitesmoke;
    
}
.container-form{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#login{
    width: 250px;
    background-color: rgba(0, 0, 0, 0.664);
    text-align: center;
    color: whitesmoke;
    padding: 2%;
}
.container-entrar{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.mensagem{
    font-weight: bold;
}
.botao-entrar{
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    font-family: monospace;
    background-color: #23b5b5;
}
.botao-entrar:hover{
    color: whitesmoke;
}
.entrar a{
    color: rgba(228, 228, 228, 0.945);
    background-color: #1f1f1fbd;
}
.entrar a:hover{
    color: whitesmoke;
}
.container-texto {
    padding: 2% 0 0 0;
}
.rodape{
    width: 100%;
    height: 80px;
    background-color: rgb(49, 49, 49);
    color: black;
    text-align: center;
    font-family: monospace;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    height: 4rem;
}
@media screen and (max-width : 994px){
    .navbar-nav.me-auto.mb-2.mb-lg-0 li a{
        color: rgb(230, 230, 230);
        font-family: monospace;
        font-size: 19px;
        background-color: rgb(49, 49, 49);
        height: 30spx;
        line-height: 8px; 
        text-align: center;
        
    }
    .form-control.me-2{
        display: none;
    }
    .btn.btn-outline-success{
        display: none;
    }
    
}
@media screen and (max-width: 768px){
    .entrar{
        margin-bottom:10%
    }
}
@media screen and (max-width: 530px){
    .col{
        width: 95%;
    }
    .entrar{
        margin-bottom:20%
    }
}













